streamlit==1.40.1
bcrypt==4.2.0
python-dotenv==1.0.1
Pillow==10.4.0
pandas==2.2.3
PyPDF2==3.0.1
fastapi==0.115.0
uvicorn==0.32.0
pydantic-settings==2.5.2
huggingface_hub==0.25.1
python-docx==1.1.2
requests==2.32.3
sentence-transformers==2.6.1
transformers==4.43.2
cachetools==5.3.3
 # ✅ This version avoids httpx conflict
deep_translator==1.11.4 

groq==0.4.2
pytesseract
proxies

python-multipart
